/dist
/node_modules
/docs

**/node_modules
**/dist
**/.cache

# No npm allowed
package-lock.json

# Logs
**/logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
**/coverage
**/jest-coverage
**/reports
**/.nyc_output

# Editor Configs
.idea
.vscode

# File system
**/.DS_Store
